[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = {extras = ["argon2"]}
"psycopg2-binary" = "*"
"django-bootstrap4" = "*"

[dev-packages]
pylint = "*"
pylint-django = "*"
coverage = "*"
django-coverage-plugin = "*"

[requires]
python_version = "3.6"
