{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
<div class="container">
  <h1 class="text-center">Sign-up Form</h1>
  <form class="sign-up-form mx-auto" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" class="btn btn-primary" value="Sign Up">
  </form>
</div>

<hr>

<p>Data Protection and Usage</p>
<ul>
  <li>
    Your password will be securely stored, using the
    <a href="https://en.wikipedia.org/wiki/Argon2">Argon2</a> hashing
    algorithm, with a per user random salt.
  </li>
  <li>
    If you supply an email address, it will ONLY be used is to send you
    an email to recover your account if you forget your password.
  </li>
</ul>

<p>Cookies</p>
<ul>
  <li>
    If you don't login, no cookies are stored on your computer.
  </li>
  <li>
    If you load the sign-up, login or new word form, a cookie called
    <code>csrftoken</code> is stored on your computer. The purpose of this
    cookie to prevent cross-site request forgery attacks. It consists of a
    random string and links the request for the form with the data sent to the
    server by the form.
  </li>
  <li>
    If you login, a cookie called <code>sessionid</code> will be stored on your
    computer. The purpose of this cookie is to maintain your logged in state as
    you navigate around the website.
  </li>
  <li>
      If you login, a cookie from Facebook called <code>fr</code> will be
      stored on your computer. If you login or are already logged in to
      Facebook, other cookies from Facebook will be stored. The purpose of
      these cookies is enable the sharing of a post about the CheddarGorge.fun
      website on Facebook.
    </li>
</ul>
{% endblock content %}
