<!DOCTYPE html>
{% load static %}
{% load bootstrap4 %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cheddar Gorge - The Website</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap-sketchy.min.css' %}" media="screen">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen">
</head>
<body>
  <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId            : '308313999705638',
          autoLogAppEvents : true,
          xfbml            : true,
          version          : 'v3.0'
        });
      };

      (function(d, s, id){
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) {return;}
          js = d.createElement(s); js.id = id;
          js.src = "https://connect.facebook.net/en_US/sdk.js";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
  </script>
  <div class="container-fluid">
    <ul class="nav nav-pills justify-content-end">
      {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
             aria-haspopup="true" aria-expanded="false">{{ user.username }}</a>
          <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 40px, 0px);">
            <a class="dropdown-item" href="{% url 'password_change' %}">Change password</a>
            <a class="dropdown-item" href="{% url 'delete_account' %}">Delete account</a>
          </div>
        </li>
      {% endif %}
      <li class="nav-item">
        {% if user.is_authenticated %}
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        {% else %}
        <div class="nav-link">
          <a href="{% url 'login' %}">Login </a>/
          <a href="{% url 'signup' %}">Sign-up</a>
        </div>
        {% endif %}
      </li>
    </ul>

    <a href="{% url 'wordrelaygame:home' %}">
      <h1 class="text-center display-1">Cheddar Gorge</h1>
    </a>

    {% bootstrap_messages %}

    {% block content %}
    {% endblock content %}
    <hr>
    <footer class="row">
      <small class="col">CheddarGorge.Fun by Steven Wooding</small>
      <small class="col text-right">Source code and help on
        <a href="https://github.com/SteveWooding/cheddar-gorge.git">GitHub</a>
      </small>
    </footer>
  </div>

  <script src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
