body {
  background-color: #FFD464;
  color: #1352A2;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  text-decoration: inherit;
}

a.underline {
  text-decoration: underline;
}

.bg-info {
  background-color: #1352A2;
}

.story {
  width: 60%;
  margin-bottom: 3rem;
}

.story > .card-body {
  background-color: #FFE9B0;
}

.story > .card-footer {
  background-color: #7F7558;
}

.new-word-form {
  width: 40%;
}

.archive-btn {
  margin-top: 3rem;
}

.pagination {
  justify-content: center;
}

.btn {
  margin: 1rem;
}

.sign-in-form {
  width: 40%;
}

.sign-up-form {
  width: 50%;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: #1352A2;
}

.dropdown-item:hover {
  background-color: #1352A2;
}

.about {
  width: 85%;
  margin-top: 2rem;
}

.social-media-icons {
  margin-top: 2rem;
}

.social-media-icons > a {
  margin: 0.5rem;
}

@media screen and (max-width: 425px) {

  .story {
    width: 85%;
    margin-bottom: 3rem;
  }

  .new-word-form {
    width: 80%;
  }

  .sign-in-form {
    width: 60%;
  }

  .display-1 {
    font-size: 2.5rem;
  }

  .sign-up-form {
    width: 90%;
  }
}
