body {
  background-color: #FFD464;
  color: #1352A2;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  text-decoration: inherit;
}

.bg-info {
  background-color: #1352A2;
}

.story {
  width: 60%;
  margin-bottom: 3rem;
}

.story > .card-body {
  background-color: #FFE9B0;
}

.story > .card-footer {
  background-color: #7F7558;
}

.new-word-form {
  width: 40%;
}

.archive-btn {
  margin-top: 3rem;
}

.pagination {
  justify-content: center;
}

.btn {
  margin: 1rem;
}

.sign-in-form {
  width: 40%;
}
