{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}

{% if latest_story %}
<h2 class="text-center">Current Story</h2>
<div class="card mx-auto story">
  <div class="card-body">
    <h3 class="card-title">
    {% for word in latest_story.words.all %}
      {{ word }}
    {% endfor %}
    </h3>
  </div>
  <div class="card-footer text-white">Started {{ latest_story.date_created }}</div>
</div>

  {% if user.is_authenticated %}
    {% if form %}
      <form class="text-center mx-auto new-word-form" action="{% url 'wordrelaygame:addword' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">Add Word</button>
        {% endbuttons %}
      </form>

      {% if latest_story.words.all.count > 64 %}
        {% include "wordrelaygame/_new_story_form.html" %}
      {% endif %}

    {% else %}
      <h4 class="text-center">Now someone else needs to add the next word.</h4>
      <h4 class="text-center">Share on social media to let other people know about the game.</h4>
    {% endif %}

  {% else %}
    <p>Add a word to the story?</p>
    <a class="btn btn-default" href="{% url 'login' %}">Login</a>
    <a class="btn btn-default" href="{% url 'signup' %}">Sign-up</a>
  {% endif %}

  <div class="text-center archive-btn">
    <a href="{% url 'wordrelaygame:story-list' %}" class="btn btn-secondary" role="button">Read Previous Stories</a>
  </div>


{% else %}

  <p>No stories found.</p>

  {% if user.is_authenticated %}

    {% include "wordrelaygame/_new_story_form.html" %}

  {% else %}

    <p>Login to create one.</p>

  {% endif %}


{% endif %}
{% endblock content %}
