{% extends "base.html" %}
{% block content %}

<h2>Current Story</h2>
{% if latest_story %}
  {{ latest_story.date_created }}
  <p>
  {% for word in latest_story.words.all %}
    {{ word }}
  {% endfor %}
  </p>

  {% if user.is_authenticated %}
    {% if form %}
      <form action="{% url 'wordrelaygame:addword' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-default">Add Word</button>
      </form>

      {% if latest_story.words.all.count > 64 %}
        {% include "wordrelaygame/_new_story_form.html" %}
      {% endif %}

    {% else %}
      <p>Now someone else needs to add the next word. Share on social media
        to let other people know about the game.
      </p>
    {% endif %}

  {% else %}
    <p>Add a word to the story?</p>
    <a class="btn btn-default" href="{% url 'login' %}">Login</a>
    <a class="btn btn-default" href="{% url 'signup' %}">Sign-up</a>
  {% endif %}

{% else %}

  <p>No stories found.</p>

  {% if user.is_authenticated %}

    {% include "wordrelaygame/_new_story_form.html" %}

  {% else %}

    <p>Login to create one.</p>

  {% endif %}


{% endif %}
{% endblock content %}
