

<h2>Current Story</h2>
{% if latest_story %}
  {{ latest_story.date_created }}
  <p>
  {% for word in latest_story.words.all %}
    {{ word }}
  {% endfor %}
  </p>
{% endif %}

{% if user.is_authenticated %}
  <form action="{% url 'wordrelaygame:addword' %}" method="post">
    {% csrf_token %}
    <label for="newword">Enter the next word...</label>
    <input type="text" id="newword">
    <button type="submit" class="btn btn-default">Add Word</button>
  </form>
{% else %}
  <p>Add a word to the story?</p>
  <button type="button" class="btn btn-default">Login</button>
  <button type="button" class="btn btn-default">Register</button>
{% endif %}
