{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}

<h1 class="text-center">Past Stories</h1>
{% for story in object_list %}
  <div class="card mx-auto story">
      <div class="card-body">
        <h3 class="card-title">
        {% for word in story.words.all %}
          {{ word }}
        {% endfor %}
        </h3>
      </div>
      <div class="card-footer text-white">
        Started {{ story.date_created }}
      </div>
  </div>
{% empty %}
  <h2>No stories yet. :-(</h2>
{% endfor %}

  {% bootstrap_pagination page_obj %}

{% endblock content %}
